/* 首页样式 */
/* 版心 */
.wrapper {
    margin:0 auto ;
    width: 1200px;
}

body {
    background-color: #f3f5f7;
}

/* 头部区域 */
.header {
    height: 100px;
    background-color: #fff;
}

.header .wrapper {
    padding-top: 10px ;
    display: flex;
}

/* logo */
.logo a{
    margin-left: 100px;
    display: block;
    width: 100px;
    height: 90px;
    background-image: url(Day7/Study/images/download.jpg);
    font-size: 0;
    background-size: 100px 100px;
    background-repeat: no-repeat;
}

/* 导航 */
.nav {
    margin-left:50px ;
}

.nav ul {
    display: flex;
}

.nav li {
    margin-right:24px ;
}

.nav li a {
    margin-top: 20px;
    display: block;
    padding:15px 8px;
    line-height: 10px;
    font-size: 19px;
}

/* active 类选择器， 表示默认选中的a */
.nav li .active,
.nav li a:hover {
    border-bottom: 2px solid rgb(205, 205, 205);

}

/* 搜索 */
.search {
    display: flex;
    margin-top: 20px;
    margin-left: 64px;
    padding-left: 19px;
    padding-right: 12px;
    width: 412px;
    height: 40px;
    background-color: rgb(243, 242, 242);
    border-radius: 20px;
}

.search input{
    flex: 1;
    border: 0;
    background-color: transparent;
    /* 去掉表单控件的焦点框 */
    outline: none;
}

/* ::placeholder 选中就是placeholder 属性文字样式*/
.search input：：placaholder {
    font-size: 14px;
    color:#999;

}

/* 父级是flex布局，子级变弹性盒子：加宽高生效 */
.search a {
    align-self: center;
    width: 16px;
    height: 16px;
    background-size: contain;
    background-image: url(Day7/Study/images/search.png);
}

/* 用户 */
.user{
    margin-left: 32px;
    margin-top: 25px;
}

.user img{
    margin-right: 7px;
    /* vertical-align 行内快和行内垂直方向对齐方式 */
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50px;
}

/* benner区域 */
.banner{
    height: 420px;
    background-color: rgb(215, 213, 213);

}

.banner .wrapper{
    display: flex;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-position:center;
    background-size: contain;
    height: 420px;
    background-image: url(Day7/Study/images/banner.jpg);
}

.banner .left{
    padding: 3px 20px;
    width: 191px;
    height: 420px;
    background-color: rgb(255, 163, 102);
}

/* ce */
.banner .left a {
    /* 块级：宽度是父级的100% */
    display: block;
    height: 46px;
    background: url(Day7/Study/images/arrow2.png) no-repeat right center;
    background-size: 10px 10px;
    line-height: 46px;
    font-size: 16px;
    color: black;
}

.banner .left a:hover{
   background-image: url(Day7/Study/images/arrow.png);
   color: #403f3f;
}

/* 课程表 */
.banner .right {
    margin-top: 60px;
    width: 218px;
    height: 305px;
    background-color: #209dd5;
    border-radius: 10px;
}

.banner .right h3{
    margin-left: 14px;
    height: 48px;
    line-height: 48px;
    font-size: 15px;
    color: #fff;
    font-weight: 400;
}

.banner .right .content {
    padding: 14px;
    height: 257px;
    background-color: #fff;
    border-radius: 10px;
}

.banner .right dl {
    margin-bottom: 12px;
    border-bottom: 1px solid #e0e0e0;
}

.banner .right dt{
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 700;

}

.banner .right dd {
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 16px;
}

.banner .right dd span {
    color: #00a4ff;
}

.banner .right dd strong {
    color: #7d7d7d;
    font-weight: 400;
}

.banner .right a {
    display: block;
    height: 32px;
    background-color: #00a4ff;
    text-align: center;
    line-height: 32px;
    font-size: 14px;
    color: #fff;
    border-radius: 15px;
}

/* 精品推荐 */
.recommend{
    display: flex;
    margin-top: 11px;
    padding: 0 20px;
    height: 60px;
    background-color: #fff;
    box-shadow:0px 1px 2px 0px rgba(211, 211, 211, 0.5) ;
    line-height: 60px;
}

.recommend h3 {
    font-size: 18px;
    color: #00a4ff;
    font-weight: 400;
}

.recommend ul{
    /* 除去标题和修改兴趣的尺寸，父级剩余尺寸都给ul,实现把修改兴趣挤到最右侧 */
    flex: 1;
    display: flex;
}

.recommend ul li a {
    padding: 0 24px;
    border-right:1px solid #e0e0e0 ;
    font-size: 18px;
}

.recommend ul li:last-child a {
    border-right: 0;
}

.recommend .modify {
    font-size: 16px;
    color: #00a4ff;
}

/* 推荐课程 */
.course {
    margin-top: 15px;
}

/* 标题 - 公共类，与其他区域共用 */
.hd {
    display: flex;
    justify-content: space-between;
    height: 60px;
    line-height: 60px;
}

.hd h3{
    font-size: 21px;
    font-size: 400;
}

.hd .more{
    padding-right: 20px;
    background: url(Day7/Study/images/arrow.png) no-repeat right center;
    background-size: 10px 10px;
    font-size: 14px;
    color: #999;
}

/* 课程内容 - 公共类 */
.bd ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bd li {
    margin-bottom: 14px;
    width: 228px;
    height: 271px;
    background-color: pink;

}

.bd li .pic { 
    /* 设置图片高度 */
    height:180px;
}

.bd .pic img {
    width: 100%;
    height: 100%;
}

.bd li .text{
    padding: 20px;
    height: 115px;
    background-color: #fff;
}

.bd li .text h4{
    margin-bottom: 13px;
    height: 40px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400; 
}

.bd li .text p {
    font-size: 14px;
    line-height: 20px;
    color:#999 ;
}

.bd li .text p span {
    color: #fa6400;
}

.bd li .text p i {
    font-style: normal;
}

/* 前端 */
.hd ul{
    display: flex;
}

.hd li {
    margin-right: 60px;
    font-size: 16px ;
}

.hd li .active {
    color: #00a4ff;
}

.bd {
    display: flex;
    justify-content: space-between;
}

.bd .left {
    width: 228px;
    background-color: pink;
}

.bd .left img {
    width: 100%;
    height: 100%;
}

.bd .right {
    width: 957px;
    /* background-color: pink; */
}

.bd .right .top {
    margin-bottom: 15px;
    height: 100px;
}

.bd .right .top img {
    width: 100%;
    height: 100%;
} 

/* 版权 */
.footer {
    margin-top: 60px;
    padding-top: 60px;
    height: 273px;
    background-color: #fff;
}

.footer .wrapper {
    display: flex;
    justify-content: space-between;
}

.footer .left {
    width: 440px;
    /* background-color: pink; */
}

.footer .left img {
    height: 80px;
    width: 80px;
}

.footer .left p {
    margin-top: 10px;
    margin-bottom: 14px;
    font-size: 12px ;
    line-height: 17px;
    color: #666;
}

.footer .left .download {
    display: block;
    width: 120px;
    height: 36px;
    border: 1px solid #000;
    text-align: center;
    line-height: 34px;
    font-size: 16px;
    color: #000;
}

.footer .right {
    display: flex;
}

.footer .right dt {
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 23px;
}

.footer .right dl {
    margin-left:130px ;
}

.footer .right a {
    font-size: 14px;
    color: #666;
    line-height: 24px;
}
